In [ ]:
!pip install mysql-connector-python

In [ ]:
import mysql.connector as connector

connection = connector.connect(user = "your_user_name", password = "your_password_for_database", db = "database_name")
cursor = connection.cursor()

In [ ]:
show_tables_query = "SHOW tables" 
cursor.execute(show_tables_query)
result = cursor.fetchall()

print(result)

In [ ]:
task_sql = """
SELECT
    Customers.*,
    Orders.totalCost
FROM
    Orders
INNER JOIN Customers
ON
    Orders.idCustumer = Customers.id
WHERE
    Orders.totalCost > 60;
"""

cursor.execute(task_sql)
dataset = cursor.fetchall()